<%- include('./templates/header.ejs') %>
<div class="errors-container container-fluid d-flex flex-column justify-content-center align-items-center">
    <p class="text-light fs-3">Error code: <%=name%></p>
    <p class="text-light fs-1">Well this is awkward, but...</p>
    <p class="text-light fs-3"><%=message%></p>
</div>
<%- include('./templates/footer.ejs') %>

